.country-box {
  &__container {
    @include flex(column nowrap, space-around);
    width: 100%;
    height: auto;
    margin: 2px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.18);
    background: $white;
  }
  &__expanded {
    @include flex(column nowrap);
    height: 100%;
    width: 100%;
    padding: 20px 0;
  }
}

.country {
  &__container {
    @include flex(null, space-between);
    width: calc(100% - 60px);
    height: 100%;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &-hover{
      @extend .country__container;
      &:hover {
      background: rgb(235, 235, 235);
    }
    }
  }
  &__icon-wrapper {
    @include flex();
    width: auto;
    height: auto;
  }
  &__icon {
    fill: rgba(35, 35, 35, 0.6);
    align-self: flex-start;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      fill: rgba(35, 35, 35, 0.8);
    }
  }
}

.data {
  &__container {
    width: calc(90% - 40px);
    height: auto;
    padding: 10px 25px;
    margin: 10px 0px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__container--data {
    margin: 0px 5px;
    color: $black;
  }
}
