.country-box {
  &__container {
    @include flex(column nowrap, space-around);
    width: 100%;
    height: auto;
    margin: 2px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.18);
    background: $white;
  }
}

.country {
  &__container {
    @include flex(null, space-between);
    width: calc(100% - 40px);
    height: 100%;
    padding: 15px 20px;
    cursor: pointer;
    &--hover {
      @extend .country__container;
      &:hover {
        background: rgb(235, 235, 235);
      }
    }
  }
  &__wrapper {
    @include flex();
    width: auto;
    height: auto;
  }
  &__wrapper--country {
    margin: 0 5px;
    color: $black;
  }
  &__wrapper--data {
    margin: 0 10px;
  }
  &__icon {
    fill: rgba(35, 35, 35, 0.6);
    height: 20px;
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out !important;
    &:hover {
      fill: rgba(35, 35, 35, 0.8);
    }
    &--expanded {
      @extend .country__icon;
      transform: rotate(180deg);
    }
  }
}

.data {
  &__container {
    width: calc(90% - 40px);
    height: auto;
    padding: 10px 25px;
    margin: 10px 0px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &__container--data {
    margin: 0px 5px;
    color: $black;
  }
}
