.data-box{
    &__container{
        @include flex();
        width: 33.33%;
        padding: 10px 0;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.2s ease-in-out;
        border-bottom: 2px solid $black;
        &:hover{
            opacity: 0.9;
        }
    }
    &-active{
        opacity:1;
    }
    &__wrapper{
        @include flex(column nowrap,null,flex-start);
        width: 80%;
    }
    &__title{
        font-size: 15px;
        font-weight: normal;
        color: $black;
        transition: all 0.2s ease-in-out;
        @media ($laptops) {
        font-size: 16px;
        }
        @media ($desktops) {
        font-size: 18px;
        }
    }
    &__data{
        font-size: 24px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        color: $black;
        @media ($laptops) {
        font-size: 26px;
        }
        @media ($desktops){
        font-size: 30px;
        }
    }
}