.data-box{
    &__container{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 3% 6%;
        cursor: pointer;
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
        border-bottom: 1px solid $white;
        &:hover{
            opacity: 1;
        }
    }
    &-active{
        opacity:1;
    }
    &__title{
        font-size: 32px;
        font-weight: normal;
    }
    &__data{
        font-size: 24px;
        font-weight: bold;
    }
}