.loading{

    &__circle{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    &__text{
        position: relative;
        top: 120px;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 18px;
        color: $black
    }
}