.search-bar {
  &__wrapper{
    @include flex();
    width: 50%;
    margin: 5px 0;

  }
  &__input {
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border: none;
    background: $white;
    color: $black;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    &::placeholder {
      color: rgba(100, 100, 100, 0.4);
    }
    &:focus::-webkit-input-placeholder {
      transition: all 0.2s ease-in-out;
      color: $black;
    }
  }
  &__icon{
    height: 20px;
    width: 20px;
    fill: $black;
    opacity: 0.7;
  }
  &__icon--hover{
    @extend .search-bar__icon;
    transition: all 0.2s ease-in-out;
    &:hover{
      opacity: 1;
  }
}
}
