.content-displayer{
    &__container{
        @include flex(column nowrap);
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        @media ($laptops) {
            @include flex(row nowrap)
        }
    }
}