body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.application{
  @include flex(null,center);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.orange{
  color:$orange !important;
}
.red{
  color:$red !important;
}
.green{
  color:$green !important;
}
.white{
  color: $white !important;
}
.black{
  color: $black !important;
}
.purple{
  color: rgb(154, 65, 255) !important;
}

.bold{
  font-weight: bold !important;
}

.leaflet-fade-anim .leaflet-popup {
  transition: none;
}
